@font-face {
    font-family: 'Inter';
    src: url('Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');    
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');    
    font-display: swap;
}

