@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');    
    font-display: swap;
}

